# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [3]:
import sqlite3
conn = sqlite3.connect('data.sqlite')
crs = conn.cursor()

## Display the names of all the employees in Boston.

In [4]:
def result(command):
    return crs.execute(command).fetchall()
# result("SELECT * FROM offices;")
result("SELECT lastName, firstName FROM employees JOIN offices USING(officeCode) WHERE officeCode = '2';")

[('Firrelli', 'Julie'), ('Patterson', 'Steve')]

## Do any offices have no employees?

In [8]:
result("SELECT * FROM employees LEFT JOIN offices USING(officeCode) WHERE officeCode IS NULL;")

[]

## Write 3 Questions of your own and answer them

In [1]:
import pandas as pd

table = result("SELECT * FROM products LEFT JOIN orderdetails USING(productCode) WHERE orderdetails.orderLineNumber = 2;")

# df = pd.DataFrame(table) #Take results and create dataframe
# df.columns = [i[0] for i in crs.description]
# df.head()

crs.description

NameError: name 'result' is not defined

In [7]:
# def select_by_officeCode(table, code):
#     command = "SELECT * FROM {} WHERE officeCode = {};".format(table, code)
#     print(command)
#     return result(command)
result("SELECT * FROM employees;")
# select_by_officeCode("employees", 1)

[('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President'),
 ('1056',
  'Patterson',
  'Mary',
  'x4611',
  'mpatterso@classicmodelcars.com',
  '1',
  '1002',
  'VP Sales'),
 ('1076',
  'Firrelli',
  'Jeff',
  'x9273',
  'jfirrelli@classicmodelcars.com',
  '1',
  '1002',
  'VP Marketing'),
 ('1088',
  'Patterson',
  'William',
  'x4871',
  'wpatterson@classicmodelcars.com',
  '6',
  '1056',
  'Sales Manager (APAC)'),
 ('1102',
  'Bondur',
  'Gerard',
  'x5408',
  'gbondur@classicmodelcars.com',
  '4',
  '1056',
  'Sale Manager (EMEA)'),
 ('1143',
  'Bow',
  'Anthony',
  'x5428',
  'abow@classicmodelcars.com',
  '1',
  '1056',
  'Sales Manager (NA)'),
 ('1165',
  'Jennings',
  'Leslie',
  'x3291',
  'ljennings@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep'),
 ('1166',
  'Thompson',
  'Leslie',
  'x4065',
  'lthompson@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep'),
 ('1188',
  'Firrelli',
  'Julie',
  'x2173',
  'jfirrelli@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep'),
 ('1216',
  'Patterson',
  'Steve',
  'x4334',
  'spatterson@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep'),
 ('1286',
  'Tseng',
  'Foon Yue',
  'x2248',
  'ftseng@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep'),
 ('1323',
  'Vanauf',
  'George',
  'x4102',
  'gvanauf@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep'),
 ('1337',
  'Bondur',
  'Loui',
  'x6493',
  'lbondur@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1370',
  'Hernandez',
  'Gerard',
  'x2028',
  'ghernande@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1401',
  'Castillo',
  'Pamela',
  'x2759',
  'pcastillo@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1501',
  'Bott',
  'Larry',
  'x2311',
  'lbott@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep'),
 ('1504',
  'Jones',
  'Barry',
  'x102',
  'bjones@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep'),
 ('1611',
  'Fixter',
  'Andy',
  'x101',
  'afixter@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1612',
  'Marsh',
  'Peter',
  'x102',
  'pmarsh@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1619',
  'King',
  'Tom',
  'x103',
  'tking@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1621',
  'Nishi',
  'Mami',
  'x101',
  'mnishi@classicmodelcars.com',
  '5',
  '1056',
  'Sales Rep'),
 ('1625',
  'Kato',
  'Yoshimi',
  'x102',
  'ykato@classicmodelcars.com',
  '5',
  '1621',
  'Sales Rep'),
 ('1702',
  'Gerard',
  'Martin',
  'x2312',
  'mgerard@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep')]

In [20]:
#find top 10 customers and their total spent
result("SELECT customerName, SUM(amount) AS total_spent FROM customers JOIN payments USING(customerNumber) GROUP BY customerName ORDER BY total_spent DESC LIMIT 10;")

[('Euro+ Shopping Channel', 715738.9800000001),
 ('Mini Gifts Distributors Ltd.', 584188.24),
 ('Australian Collectors, Co.', 180585.07),
 ('Muscle Machine Inc', 177913.94999999998),
 ('Dragon Souveniers, Ltd.', 156251.03),
 ('Down Under Souveniers, Inc', 154622.08000000002),
 ('AV Stores, Co.', 148410.09),
 ("Anna's Decorations, Ltd", 137034.22),
 ('Corporate Gift Ideas Co.', 132340.78),
 ('Saveley & Henriot, Co.', 130305.35)]

In [26]:
#find list of customers who have orders 'On Hold"
result("SELECT customerName, status FROM customers JOIN orders USING(customerNumber) WHERE status = 'On Hold' GROUP BY customerName;")

[('Gifts4AllAges.com', 'On Hold'),
 ('Tekni Collectables Inc.', 'On Hold'),
 ('The Sharp Gifts Warehouse', 'On Hold'),
 ('Volvo Model Replicas, Co', 'On Hold')]

## Level Up: Display the names of each product each employee has sold.

In [37]:
result("SELECT employeeNumber, firstName, lastName, productName FROM employees JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber JOIN orders USING(customerNumber) JOIN orderdetails USING(orderNumber) JOIN products USING(productCode) GROUP BY employeeNumber;")

[('1165', '1165', 'Leslie', 'Jennings', '1954 Greyhound Scenicruiser'),
 ('1166', '1166', 'Leslie', 'Thompson', '1936 Chrysler Airflow'),
 ('1188', '1188', 'Julie', 'Firrelli', '1939 Chevrolet Deluxe Coupe'),
 ('1216', '1216', 'Steve', 'Patterson', 'ATA: B757-300'),
 ('1286', '1286', 'Foon Yue', 'Tseng', '2002 Yamaha YZR M1'),
 ('1323', '1323', 'George', 'Vanauf', '2002 Yamaha YZR M1'),
 ('1337', '1337', 'Loui', 'Bondur', '1960 BSA Gold Star DBD34'),
 ('1370', '1370', 'Gerard', 'Hernandez', '1982 Camaro Z28'),
 ('1401', '1401', 'Pamela', 'Castillo', '1992 Ferrari 360 Spider red'),
 ('1501', '1501', 'Larry', 'Bott', '1952 Citroen-15CV'),
 ('1504', '1504', 'Barry', 'Jones', '1960 BSA Gold Star DBD34'),
 ('1611', '1611', 'Andy', 'Fixter', 'Boeing X-32A JSF'),
 ('1612', '1612', 'Peter', 'Marsh', '1997 BMW F650 ST'),
 ('1621', '1621', 'Mami', 'Nishi', '1936 Mercedes Benz 500k Roadster'),
 ('1702', '1702', 'Martin', 'Gerard', '1936 Mercedes Benz 500k Roadster')]

## Level Up: Display the Number of Products each Employee Has sold

In [40]:
result("SELECT employeeNumber, firstName, lastName, productName, COUNT(productName) FROM employees JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber JOIN orders USING(customerNumber) JOIN orderdetails USING(orderNumber) JOIN products USING(productCode) GROUP BY employeeNumber ORDER BY COUNT(productName) DESC;")

[('1370', 'Gerard', 'Hernandez', '1982 Camaro Z28', 396),
 ('1165', 'Leslie', 'Jennings', '1954 Greyhound Scenicruiser', 331),
 ('1401', 'Pamela', 'Castillo', '1992 Ferrari 360 Spider red', 272),
 ('1501', 'Larry', 'Bott', '1952 Citroen-15CV', 236),
 ('1504', 'Barry', 'Jones', '1960 BSA Gold Star DBD34', 220),
 ('1323', 'George', 'Vanauf', '2002 Yamaha YZR M1', 211),
 ('1611', 'Andy', 'Fixter', 'Boeing X-32A JSF', 185),
 ('1612', 'Peter', 'Marsh', '1997 BMW F650 ST', 185),
 ('1337', 'Loui', 'Bondur', '1960 BSA Gold Star DBD34', 177),
 ('1216', 'Steve', 'Patterson', 'ATA: B757-300', 152),
 ('1286', 'Foon Yue', 'Tseng', '2002 Yamaha YZR M1', 142),
 ('1621', 'Mami', 'Nishi', '1936 Mercedes Benz 500k Roadster', 137),
 ('1188', 'Julie', 'Firrelli', '1939 Chevrolet Deluxe Coupe', 124),
 ('1166', 'Leslie', 'Thompson', '1936 Chrysler Airflow', 114),
 ('1702', 'Martin', 'Gerard', '1936 Mercedes Benz 500k Roadster', 114)]

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!